.logo {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  

.search{
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
    input{
        width: 100%;
        height: 69px;
        border-radius: 5px;
        background: #E5E5E5;
        padding-left: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.45;
    }
    img{
       position: absolute;
       right: 30px;
       top: 18px;
    }
}

.tags{
    height: 80px;
    width: 80%;
    margin: auto; 
    display: flex;
    align-items: center;
}
.ingredients-tag, .appareils-tag, .ustensiles-tag{
    width: 117px ;
    height: 47px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ingredients-tag{
    background: #3282F7;
}
.appareils-tag{
    background: #68D9A4;
}
.ustensiles-tag{
    background: #ED6454;
}
.filters-block{
    width: 80%;
    margin: auto;
    display: flex;
    @media(max-width:1288px) {
        flex-direction: column;
        justify-content: space-around;
        height: 360px;
    }
}
.filter{
    width: 170px;
    height: 69px;
    margin-right: 25px;
    border-radius: 5px;
    background: #3282F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    span{
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        margin-left: 20px;
    }
    input{
        display: none;
        margin-left: 20px;
        background: transparent;
        width: 250px;
        border: none;
        height: 40px;
        color:#FFFFFF ;
    }
    input::placeholder{
      color:#FFFFFF ;
      opacity: 0.8;
    }
    em{
        color:#fff ;
    }
    .btn-filter{
        display: flex;
        width: 50px;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-right: 10px;
    }
    .btn-filter-active{
        transform: rotate(180deg);
    }
}

.filter2{
    background: #68D9A4;
}

.filter3{
    background: #ED6454;
}

.filter1-active{
    min-width: 360px;
    @media(max-width:455px) {
        min-width: 250px;
    }
}
.filter2-active{
    min-width: 260px;
    @media(max-width:1288px) {
        min-width: 360px;
    }
    @media(max-width:455px) {
        min-width: 250px;
    }
}

.filter3-active{
    min-width: 360px;
    @media(max-width:455px) {
        min-width: 250px;
    }
}

.block-list, .block-list2, .block-list3{
    background: #3282F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 360px;
    overflow-y: hidden;
    left: 0;
    color: #fff;
    flex-wrap: wrap;
    display: none;
    flex-direction: column;
    height: 200px;
    position: absolute;
    top: 65px;
    z-index: 1000;
    padding: 15px;
    @media(max-width:1288px) {
        height: 50px;
    }
    @media(max-width:455px) {
        width: 250px;
    }
    li{
        padding-right: 25px;
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
}

.block-list2{
    background: #68D9A4;
    width: 260px;
    @media(max-width:1288px) {
        width: 360px;
    }
    @media(max-width:455px) {
        width: 250px;
    }
}

.block-list3{
    background: #ED6454;
    width: 360px;
    @media(max-width:455px) {
        width: 250px;
    }
}

.recipes-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap:40px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    @media(max-width:1288px) {
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width:751px) {
        grid-template-columns: 1fr;
    }
}

.card {
    display: block;
    width: 100%;
    height: 400px;
    margin: auto;
    border-radius: 5px;
    background: #E7E7E7;
    .card-img{
        height: 178px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #C7BEBE;
    }
    .card-desc{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        h2{
            font-size: 18px;
        }
        span{
          display: flex;
          align-items: center;
          svg{
            margin-right: 5px;
          }
        }
    }
    .recipe{
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        .recipe-ingredients{
            width: 50%; 
            height: auto;
            padding: 5px;
            font-size: 12px;
            line-height: 14px;
            span{
                font-family: 'Lato';
                font-style: normal;
                white-space: nowrap;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                
            }  
            
        }
        .recipe-desc{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            width: 50%;
            margin-left: 20px;
            font-size: 12px;
            padding: 5px;
            line-height: 100%;
            height: 110px;
            
            
        }
    }
  }

